@page
@model BirdGame.Pages_Admin_Birds.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Perception)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Hunting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bird) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perception)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hunting)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Name">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Name">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
