@page
@model JobsModel
@{
    ViewData["Title"] = "Assign Jobs";
}

<link rel="stylesheet" href="~/css/view_birds.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/jobs.css" asp-append-version="true" />
<script src="~/js/site.js"></script>

<div class="body-div">
    <div class="job-birds-wrapper">
        <div class="job-birds-bar">
            @for(int i = 0; i < 5; i++) {
                <div class="job-birds-entry" id="jobs-bird-@i">
                    <img class="job-bird-img" 
                    src="~/images/bird_avatars/@(Model.UserGameEntity.jobBirds[i].Bird.Id).jpg"
                    id="bird-img-@(Model.UserGameEntity.jobBirds[i].Bird.Id)">
                    @if (Model.UserGameEntity.jobBirds[i].Bird.Id != 999) {
                        <div class="job-dropdowns">
                            <label for="job-titles">Choose job:</label> 
                            <select name="job-titles" class="job-titles">
                                <option value="seed-collector">
                                    Seed collector 
                                    (@(Model.UserGameEntity.jobBirds[i].JS_SeedCollector))
                                </option> 
                                <option value="hunter">
                                    Hunter
                                    (@(Model.UserGameEntity.jobBirds[i].JS_Hunter))
                                </option> 
                                <option value="rock-breaker">
                                    Rock Breaker
                                    (@(Model.UserGameEntity.jobBirds[i].JS_RockBreaker))
                                </option> 
                                <option value="gatherer">
                                    Gatherer
                                    (@(Model.UserGameEntity.jobBirds[i].JS_Gatherer))
                                </option> 
                                <option value="feather-fetcher">
                                    Feather Fetcher
                                    (@(Model.UserGameEntity.jobBirds[i].JS_FeatherFeatcher))
                                </option>
                                <option value="bug-finder">
                                    Bug Finder
                                    (@(Model.UserGameEntity.jobBirds[i].JS_BugFinder))
                                </option> 
                            </select>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="button-container">
            <button class="job-submit-button">Submit</button>
        </div>
    </div>
</div>
<div class="body-div" id="yield-body-div">
    <div class="yeild-box"
        <div class="yield-text-box">
            @if(Model.UserGameEntity.LastDailyRoll == default(DateTime)){
                <h2 class="yeild-text">Yields:  (Never Submitted Before)</h2>
            }
            else {
                <h2 class="yeild-text">Yields:  @Model.UserGameEntity.LastDailyRoll.ToLongDateString()</h2>
            }
        </div>
        <div class="yield-fill-box">
            @foreach (var yield in Model.Yields) {
                <div class="yield">
                    The <span class="rarity-@yield.Bird.Rarity">@yield.Bird.Name</span> 
                    found @yield.Amount @(yield.BasicItemName).
                </div>
            }     
        </div>
    </div>   
<div class="body-div">
    <div class="view-birds-grid">
        @foreach (var birdConn in Model.UserGameEntity.OwnedBirds) {
            bool ownedFlag = false;
            foreach (var uBird in Model.UserGameEntity.jobBirds) {
                if (uBird.Bird.Id == birdConn.Bird.Id) {
                    ownedFlag = true;
                }
            }
            if (!ownedFlag) {
                <div class="view-bird-entry rarity-@(birdConn.Bird.Rarity)" id="view-bird-@(birdConn.Bird.Id)">
                    <div class="vb-img-container">
                        <img class="vb-img" src="~/images/bird_avatars/@(birdConn.Bird.Id).jpg">
                    </div>
                    <div class="vb-entry-name">@(birdConn.Bird.Name)</div>
                    <div class="vb-entry-stats-container">
                        <div class="vb-entry-stat">
                            <img class="stat-img" src="~/images/site/strength.png">
                            @(birdConn.Bird.Strength)
                        </div>
                        <div class="vb-entry-stat">
                            <img class="stat-img" src="~/images/site/perception.png">
                            @(birdConn.Bird.Perception)
                        </div>
                        <div class="vb-entry-stat">
                            <img class="stat-img" src="~/images/site/hunting.png">
                            @(birdConn.Bird.Hunting)
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script src="~/js/jobs.js"></script>