@page
@model ViewBirdsModel
@{
    ViewData["Title"] = "View Birds";
}

<link rel="stylesheet" href="~/css/view_birds.css" asp-append-version="true" />

<div class="body-div">
    <div class="view-birds-grid">
        @foreach (var bird in Model.ListOfBirds) {
            string ownedClass = "bird-not-owned";
            foreach (var uBird in Model.userGameEntity.OwnedBirds) {
                if (uBird.Bird.Id == bird.Id) {
                    ownedClass = "bird-owned";
                }
            }
            <div class="view-bird-entry rarity-@(bird.Rarity) @ownedClass">
                <div class="vb-img-container">
                    <img class="vb-img" src="~/images/bird_avatars/@(bird.Id).jpg">
                </div>
                <div class="vb-entry-name">@(bird.Name)</div>
                <div class="vb-entry-stats-container">
                    <div class="vb-entry-stat">
                        <img class="stat-img" src="~/images/site/strength.png">
                        @(bird.Strength)
                        </div>
                    <div class="vb-entry-stat">
                        <img class="stat-img" src="~/images/site/perception.png">
                        @(bird.Perception)
                    </div>
                    <div class="vb-entry-stat">
                        <img class="stat-img" src="~/images/site/hunting.png">
                        @(bird.Hunting)
                    </div>
                </div>
            </div>
        }
    </div>
</div>